<!doctype html>
<html>
  <head>
    <title>Proof of Concept</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <header>
    <h1>Realtime Proof of Concept</h1>
  </header>
  <body>
    {{{body}}}
  </body>
</html>