<h2>Channel Sub/Unsub</h2>

<form id="channel-input">
  <input id="channel-name" type="text" placeholder="Channel Name" autocomplete="off">
  <button id="channel-subscribe" type="submit">Subscribe</button>
  <button id="channel-unsubscribe">Unsubscribe</button>
</form>

<h2>Ephemeral Thoughts</h2>

<form id="text-input">
  <input id="thought" type="text" placeholder="What's on your mind?" autocomplete="off">
  <button id="submit" type="submit">Submit</button>
</form>

<ul id="thoughts">
</ul>

{{!-- TODO: Bundle the socket.io cdn & the ekko class into 1 cdn --}}
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script src="/js/ekko-client.js"></script>
<script src="/js/script.js"></script>