body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

input,
button {
  line-height: 1.5rem;
  margin: 0;
}

#channel-input input[type="text"] {
  width: 150px;
}

#text-input input[type="text"] {
  width: 300px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0.5rem 0;
}

button,
input[type="submit"] {
  width: 100px;
  margin: 0;
}

h2 {
  margin-top: 2rem;
}
